<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edu.xupt.dao.SecretDAO">
	<select id="get" parameterType="string" resultType="Secret">
		SELECT 
			id,user,msg,pk,rk,encode_msg,decode_msg,password,is_handled
		FROM
			secret
		WHERE user = #{user}
	</select>
	<insert id="insert">
		INSERT INTO
			secret(user, password, pk, rk)
		VALUES
			(#{user}, #{password}, #{pk}, #{rk})
	</insert>
	
	<update id="update">
		UPDATE
			secret
		SET 
			msg = #{msg},encode_msg = #{encodeMsg}, is_handled = #{isHandled}
		WHERE user = #{user}
	</update>
</mapper>